.background {
    fill: #fdfdfd;
}
.domain {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}
.tick line {
    stroke: #ccc;
    height: 100%;
    fill: black;
    width: 10px;
}
.line {
    fill: none;
    stroke: gray;
    stroke-width:2px;
}
.circles text {
    paint-order: stroke;
    stroke-opacity: .8;
    stroke-width: 10px;
    stroke: #fff;
    stroke-linecap: butt;
    fill: #000;
    stroke-linejoin: miter;
}